body {
  background-color: rgb(200, 230, 255) !important;
  font-family: 'Fira Sans', sans-serif;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 8rem;
}

.vertical-center {
  min-height: 100%;
  min-height: 90vh;
}

.btn-container {
  margin-top: 1rem;
}

.footer {
  min-height: 100%;
  min-height: 10vh;
}
